/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    background-color: #FF6151;
    margin: 0;
}
h1 {
    font-size: 3rem;
    color: white;
    margin-top: 0;
    margin-bottom: 4rem;
    text-transform: capitalize;
}
h2 {
    font-size: 1.8rem;
    margin: 0;
    text-transform: capitalize;
}
a {
    text-decoration: none;
}

/* utilidades */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.shadow {
    box-shadow: 0 0 1rem #000;
}
.bg-white {
    background-color: #fff;
}
.cl-white {
    color: #fff;
}
.hide {
    display: none;
}

/* header */
.header {
    width: 100%;
    background-color: #1d49da;
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}
.header h2 {
    font-size: 2.5rem;
}
.header span {
    font-size: 1.5rem;
}
.header i {
    font-size: 3rem;
    color: red;
    border-radius: 1rem;
}

/* Container songs */
.container {
    width: 90%;
    margin: 10rem auto 4rem;
    padding: 3rem;
    background-color: #9a34dd;
}
.songs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.song {
    height: 25rem;
    padding: 1rem;
    border-radius: 1rem;
    transition: all ease-out .3s;
}
.song:hover {
    transform: scale(1.1);
}
.song__text {
    text-align: center;
    font-weight: bold;
    padding: .5rem 0;
    height: 25%;
}
.imagen {
    width: 100%;
    height: 75%;
    object-fit: cover;
}

/* footer */
.footer {
    background-color: #333;
    padding: 2rem;
}
.item {
    border-radius: 1rem;
    padding: 1rem;
}
.testimonio {
    text-align: end;
    margin-bottom: 2rem;
}
.testimonio p:first-of-type {
    line-height: 1.5;
    font-size: 1.8rem;
}
.testimonio p:last-of-type {
    font-weight: bold;
}
.redes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem 1rem;
}
.redes p {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 1.5rem;
    grid-column: 1/3;
}
.red {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 0 auto;
    font-size: 4rem;
    transition: all ease-in .2s;
}
.red:hover {
    transform: scale(1.2);
}
.face {
    background-color: rgb(0, 26, 255);
    grid-column: 1/2;
}
.insta {
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
}
.git {
    color: black;
    font-size: 6rem;
}
/* clases del div de la musica */
.music {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .5);
    flex-direction: column;
    transition: all ease .3s;
    transform: scale(0);
}
.content {
    width: 85%;
    height: 60vh;
    padding: .5rem;
    border-radius: 1rem;
}
.music__container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.music__container h2 {
    text-align: center;
    font-size: 2rem;
    color: black;
    margin-bottom: 5rem;
    padding: .5rem;
    width: 90%;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 1rem;
}
.funciones {
    border-radius: 50%;
    margin-bottom: 5rem;
}
.acciones {
    border-radius: 50%;
    box-shadow: black 0 0 .5rem;
    cursor: pointer;
}
.play {
    background-color: red;
    width: 6rem;
    height: 6rem;
    font-size: 6rem;
}
.stop {
    font-weight: bold;
    border: .3rem solid black;
    width: 6rem;
    height: 6rem;
    font-size: 6rem;
    background-color: white;  
}
.skip {
    width: 3.5rem;
    height: 3.5rem;
    background: white;
    margin: 0 3rem;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skip::after {
    content: "5";
    position: absolute;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    top: 30%;
    font-weight: bold;
}
.plus {
    position: relative;
}
.less {
    transform: rotateY(180deg)
}
.less::after {
    transform: rotateY(180deg)
}
.utilidades {
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4rem .8rem;
    width: 90%;
    position: relative;
    margin-bottom: 2rem;
}
.utilidades .bx {
    font-size: 2.5rem;
    cursor: pointer;
}
.time-audio {
    margin-right: .5rem;
}
.duration {
    height: 1rem;
    width: 60%;
    background-color: #333;
    border-radius: .3rem;
    transition: all ease .3s;
    cursor: pointer;
}
.duration:hover {
    height: 1rem;
}
.time {
    height: 100%;
    background-color: red;
}
.input-container {
    transform: rotate(270deg);
    position: absolute;
    top: -9rem;
    right: -4.5rem;
    width: 14rem;
    height: 3rem;
}
.descarga {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
}
.descarga a {
    color: black;
    font-size: 3rem;
}
.delete {
    background-color: red;
    width: 4rem;
    height: 4rem;
    border: .2rem solid white;
    border-radius: 50%;
    margin-top: 10rem;
    cursor: pointer;
}
.delete a {
    font-weight: bold;
}

/* media queries */
@media (min-width: 450px) {
    .songs {
        grid-template-columns: repeat(2, 1fr);
    }
    .header h2 {
        font-size: 3rem;
    }
    .header span {
        font-size: 1.5rem;
    }
    .music__container h2 {
        font-size: 2.5rem;
        width: 70%;
    }
    .utilidades {
        padding-left: 2rem;
    }
    .duration {
        width: 70%;
    }
    .time-audio {
        margin-right: 0;
    }
}
@media (min-width: 700px) {
    .songs {
        grid-template-columns: repeat(3, 1fr);
    }
    h1 {
        font-size: 4rem;
    }
    .content {
        width: 60%;
    }
    .footer {
        display: flex;
        justify-content: space-evenly;
    }
    .item {
        padding: 2rem;
    }
    .testimonio {
        width: 60%;
    }
    .redes {
        width: 30%;
        height: 30%;
    }
    .duration {
        height: .5rem;
    }
    .duration:hover {
        height: 1rem;
    }
}
@media (min-width: 900px) {
    .songs {
        grid-template-columns: repeat(5, 1fr);
    }
    .content {
        width: 40%;
    }
    .testimonio {
        width: 40%;
    }
}